:root {
    color-scheme: light dark;   
    --text: light-dark(#323232, #cdcdcd);
    --text-secondary: light-dark(#7F7F7F, #808080);
    --header-background: light-dark(#CAC9C9, #353636);
    --background: light-dark(#D2D1D1, #2D2E2E);
    --accent: light-dark(#b5217f, #4ade80);
}

::selection {
    color: light-dark(#cdcdcd, #2D2E2E);
    background-color: light-dark(#2D2E2E, #cdcdcd);
}

body {
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text);
    margin: 0px;
}

a:link, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--header-background);
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
}

header h4 {
    display: inline-block;
    margin: 10px 0
}

nav {
    color: var(--text-secondary);
    display: flex;
    float: right;
}

nav h4, img {
    margin-right: 20px;
    font-weight: normal;
}

nav a:link, nav a:visited {
    color: var(--text);
}

.darkLightModeBtn {
    filter: invert(0.8);
}

.darkLightModeBtn:hover {
    cursor: pointer;
}

main {
    margin-left: 240px;
    margin-right: 240px;
}

footer {
    color: var(--text-secondary);
    text-align: center;
    margin-left: 240px;
    margin-right: 240px;
}

.margin-left-20px {
    margin-left: 20px;
}

.goback {
    display: inline-block;
    margin-top: 20px;
}

.goback img {
    filter: invert(1);
}