---
---

:root {
    color-scheme: light dark;  
    --goback-url: url({{ 'assets/backarrow-white.svg' | relative_url }});
}

:root[style*="color-scheme: dark"] {
    --goback-url: url({{ 'assets/backarrow-white.svg' | relative_url }});
}

:root[style*="color-scheme: light"] {
    --goback-url: url({{ 'assets/backarrow-black.svg' | relative_url }});
}

.goback-icon {
    background-image: var(--goback-url);
	display: inline-block;
    vertical-align: middle; 
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

