---

---
/* ^ for liquid tags */

:root {
    color-scheme: light dark; /* two palletes for light dark colour scheme toggle */
    --text: light-dark(#323232, #cdcdcd); /* use variables to define each theme */
    --text-secondary: light-dark(#7F7F7F, #808080);
    --header-background: light-dark(#CAC9C9, #353636);
    --background: light-dark(#D2D1D1, #2D2E2E);
    --accent: light-dark(#b5217f, #4ade80);
    --icon-url: url({{ 'assets/moon.svg' | relative_url }}) /* relative urls because nested file */
}

:root[style*="color-scheme: dark"] {
  --icon-url: url({{ 'assets/moon.svg' | relative_url }}); /* switch image to the opposite colour */
}

:root[style*="color-scheme: light"] {
  --icon-url: url({{ 'assets/sun.svg' | relative_url }});
}

::selection {
    color: light-dark(#cdcdcd, #2D2E2E);
    background-color: light-dark(#2D2E2E, #cdcdcd);
}

body {
    background-color: var(--background);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--text);
    margin: 0px;
    padding: 0px;
    transition: background-color 0.2s; /* theme toggle transition */
}

i {
    color: var(--text-secondary);
}

a:link, a:visited {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: var(--header-background);
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.2));
    transition: background-color 0.2s;
    margin-bottom: 1rem;
}

header h4 {
    display: inline-block;
    margin: 10px;
}

nav {
    color: var(--text-secondary);
    display: flex;
    float: right;
}

#theme-toggle {
    padding: 10px;
	background: none;
	border: none;
	cursor: pointer;
}

.theme-icon {
	background-image: var(--icon-url);
	display: inline-block;
    vertical-align: middle; 
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

main {
    font-size: 21px;
    margin-left: 24rem;
    margin-right: 24rem;
    line-height: 1.5;
}

footer {
    color: var(--text-secondary);
    text-align: center;
    margin-top: 2rem;
}

footer hr {
    margin-top: 1rem;
    background-color: var(--text-secondary);
    height: 2px;
    border: none;
}