---
layout: default
title: Blog
---
<h1>{{ page.title }}</h1>
<search>
  <form id="blog-search" onsubmit="event.preventDefault();">
    <input type="search" id="searchForm" placeholder="Search posts...">
    <button type="submit">Search</button>
  </form>
</search>
<p>List of posts:</p>

<ul id="post-list">
  {% for post in site.posts %}
    <li 
      class="post-item"
      data-title="{{ post.title | escape }}"
      data-categories="{{ post.categories | join: ' ' | downcase }}"
      data-content="{{ post.summary | escape }}"
    > <!-- using html data tag to show Javascript every posts metadata -->
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    <span class="post-date">{{ post.date | date: "%b %d, %Y" }}</span>
    {% if post.summary %}
      <p class="post-excerpt">{{ post.summary }}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>

<p id="no-results" style="display: none;">No matching posts found.</p>

<script src="{{ 'scripts/search.js' | relative_url }}"></script>