<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ page.title }} - website name</title>
        <link rel="stylesheet" href="{{ 'styles/style.css' | relative_url }}">
        <link rel="icon" type="image/png" href="{{ 'assets/favicon.png' | relative_url }}">
    </head>
    <body>
        <header>
            <h4><a href="{{ 'index.html' | relative_url }}">website name</a></h4>
            <nav>
                <h4><a href="{{ 'pages/blog.html' | relative_url }}">Blog</a></h4>
                <h4>|</h4>
                <button id="theme-toggle">
                    <span class="theme-icon"></span>
                </button>
            </nav>
        </header>
    <script src="{{ 'scripts/script.js' | relative_url }}"></script>
    </body>
</html>