---
layout: default
---
<div class="goback">
    <a href="{{ '/blog' | relative_url }}">
        <img style="margin-right: 5px;" src="{{ '/assets/arrow-90deg-left.svg' | relative_url }}">
        <p style="display: inline;">go back</p>
    </a>
</div>
<h1>{{ page.title }}</h1>
<div class="tag-list">
    Tags:
    {% for tag in site.tags %}
    <a><p style="display: inline; padding: 3px; background-color: var(--accent); color: #323232; border-radius: 5px">{{ tag[0] }}</p></a>
    {% endfor %}
</div>
<br>
{{ content }}

